body{
   
    font-display: "helvetica Neue";
    background-color: lightgoldenrodyellow;

}


nav {
    display:flex;
    justify-content:space-between;
    /* border-bottom:1px solid gray; */
    background-color: blueviolet;
    padding:10px 60px;
  
    

}

.nav-menu li{ 
    display: inline-block;
    list-style:none;

}

/* Checar en el nav-menu como hacer color de tipo y hover en las letras*/

.nav-menu__link{
    display:inline-block;
    margin:5px;
    /* border:1px solid grey; */
    text-decoration:none;
    text-decoration-color: black;
    border-radius:5px;
    padding:3px 8px;
    /* background-color: #fff; */
}
 .nav-menu__link:hover{
     /* border:1px solid black; */
     /* background-color:orangered; */
     text-decoration-color: brown;
     transition: all 0.3 ease-in-out;
     cursor:pointer;
 }

 .menu-container{
    width:200px;
    height:100px;
    margin:5px;
    border:4px solid black; 
    border-radius:5px;
    padding:3px 8px;
   
    /* background-color: #fff; */
 }


 .container{
     margin-top:50px;

 }